<html>
  <head>
      <meta charset="utf-8">
      <title>Create a new task</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
      <link rel="stylesheet" href="/css/newtask.css">
      <script type="text/javascript" src="/javascript/tinymce/tinymce.min.js"></script>
      <script type="" src="/javascript/tinymce/init-tinymce.js"></script>
      <script type="text/javascript" src="/css/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
      <script type="text/javascript" src="/css/handlebars-v4.0.10.js"></script>
      <script type="text/javascript" src="/css/newtask.js"></script>
  </head>
  <body>
    <div class="ui inverted segment">
        <div class="ui center inverted aligned large header">Bullet Ticket System</div>
        <div class="ui center inverted aligned medium header">Create a new task</div>
    </div>

      <div class="ui container">
        <div class="newTask">
          <div class="ui right labeled left icon input title">
          <i class="file outline icon"></i>
          <input type="text" placeholder="Add title" class="title" maxlength='66'>
          <a class="ui tag label">
            Add new task title
          </a>
        </div><br/></br>
          <div class="ui form">
            <div class="field">
              <label>Text</label>
              <textarea class="body tinymce"></textarea>
            </div>
        </div>
        </div>
        <div class="assignees">
          <option value="">Assignees</option>
          <select name="assignees" multiple="" class="ui fluid dropdown" id="newt_dropdown"></select>
      </div><br/>
      <div id="sTask" class="ui large purple button">Submit</div>
    </div>
  </body>
</html>