<html>
<head>
    <meta charset="utf-8">
    <title>Single Task Mode</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/css/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
    <script type="text/javascript" src="/css/handlebars-v4.0.10.js"></script>
    <script type="text/javascript" src="/css/test.js"></script>
</head>
	<div class="ui inverted segment">
		<div class="ui inverted centered large header">Bullet</div>
		<div class="ui inverted centered medium header">Work Desk V2</div>
		<div class="ui inverted centered small header">Main Ticket View</div>
	</div>
	<body>
    	<div class="ui inverted page dimmer">
      		<div class="ui massive text loader">Please Wait...</div>
    	</div>

		<div class="ui container">
			<div class="ui navbar">
				<div class="ui pointing menu">
					<a class="item active" data_tab="first">
						Assigned to me
					</a>
					<a class="item" data_tab="second">
						Created by me
					</a>
					<a class="item" data_tab="archived">
						Archived
					</a>
					<a class="item" data_tab="profile">
						Profile Managemnet
					</a>
					<div class="right menu">
						<div class="item">
							<div id="logOut" class="ui small header">Logout</div>
						</div>
					</div>
				</div>
				<div class="ui segment">		
					<div class="table-list-counter">
						<div class="ui float left checkbox allsel">
                			<input type="checkbox" name="selall">
                			<label class="float left"></label>
              			</div>
	        			<i class="warning circle icon"></i><span id="open"></span>  
	        			<i class="rocket icon"></i><span id="ongoing"></span>
	        			<i class="flag checkered icon"></i><span id="accepted"></span>
	        			<i class="warning sign icon"></i><span id="rejected"></span>
	      			</div>	
				</div>
				<div class="ui segment">
					<div class="data_cont" data_tab='first'></div>
					<div class="data_cont" data_tab="second"></div>
					<div class="data_cont" data-tab="profile"></div>
			</div>
              <div class="inverted blue ui right floated button" id="newTask">
                  <a href="/newTask">Create new ticket</a>
              </div>  			
		</div>
	</div>
	</body>
	<div class="footer">
		<div class="ui inverted segment">
			<p>Created and developed in Phanatic Labs, All right reserved.</p>
		</div>
	</div>
</html>
